/* Reset */
.infoCardCallActionText{
  margin: 0;
  text-decoration: none;
}

.infoCardCallActionContainer{
  text-decoration: none;
}

.infoCardImageContainer{
  width: auto;
}



/* QuickView */
.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}
