/* Busca */
@media screen and (max-width: 1025px){
    .searchBarInnerContainer :global(.vtex-store-components-3-x-portalContainer){
        position: initial !important;
        top: 0 !important;
        z-index: 0 !important;
    }
}

@media screen and (min-width: 1026px){
    .searchBarInnerContainer--filled :global(.vtex-search-2-x-biggy-autocomplete){
        width: 135%;
    }
}
